@font-face {
  font-family: 'Geist';
  src: url('./../assets/fonts/Geist-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./../assets/fonts/Geist-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./../assets/fonts/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geist';
    src: url('./../assets/fonts/Geist-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  
  
  