.header {
    height: rem(56px);
    background-color: var(--mantine-color-body);
    padding-right: var(--mantine-spacing-3xl);
    padding-left: var(--mantine-spacing-3xl);
      position: sticky;
      top: 0;
      z-index: 100;

    @include mobile {
      padding-right: var(--mantine-spacing-md);
      padding-left: var(--mantine-spacing-md);
    }
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: rgb(from var(--mantine-color-text) r g b/0.6);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    cursor: pointer;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }

  .tab {
    position: relative;
    border-top: 1px solid var(--mantine-color-default-border);
    background-color: var(--mantine-color-body);

  
    @mixin hover {
      background-color: var(--mantine-color-default-hover);
    }
  }